@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: #faf8ef;
}

.container {
  max-width: 800px;
  margin: auto;
}

.container .top {
  width: 100%;
  height: 72px;
  display: flex;
  margin: 0 0 16px 0;
}

.container .top .score-warpper {
  background-color: #4c6e92;
  flex: 1;
  height: 72px;
  margin: 4px 4px 4px 0;
}
.container .top .score-warpper .score-text {
  font-size: 16px;
  color: #faf8ef;
  text-align: center;
  line-height: 36px;
}

.container .top .score-warpper .score {
  font-size: 24px;
  color: #efefef;
  text-align: center;
  line-height: 36px;
}

.container .top .title-warpper {
  flex: 3;
  height: 72px;
  margin: 4px 4px 4px 0;
}
.container .top #title-text {
  font-size: 36px;
  text-align: center;
}
.container .top #sub-text {
  font-size: 24px;
  text-align: center;
  color: #4b4b4b;
}

.container .top .btn {
  flex: 1;
  height: 72px;
  margin: 4px 0 4px 4px;
  background-color: #303f9f;
  color: #efefef;
  text-align: center;
  line-height: 72px;
  font-size: 36px;
  cursor: pointer;
}

.container .top .btn:hover {
  background-color: #5c6bc0;
  color: #efefef;
}

.container #controller {
  width: 1000px;
  display: none;
}

@media screen and (max-device-width: 600px) {
  .container #controller {
    display: flex;
  }
}

.container #controller .controller-btn {
  flex: 1;
  height: 240px;
  background-color: #5c6bc0;
  color: #efefef;
  text-align: center;
  line-height: 240px;
  margin: 0 4px;
}

.container #controller .controller-btn:active {
  background-color: #3c4bc0;
}
