@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: #faf8ef;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.container .top {
  width: 100%;
  height: 72px;
  display: flex;
}

.container .top .score {
  font-size: 24px;
  color: #062546;
  flex: 1;
  text-indent: 24px;
  line-height: 72px;
}

.container .top .btn {
  width: 120px;
  height: 72px;
  background-color: #303f9f;
  color: #efefef;
  text-align: center;
  line-height: 72px;
  cursor: pointer;
}

.container .top .btn:hover {
  background-color: #5c6bc0;
  color: #efefef;
}

.container #controller {
  display: flex;
}

.container #controller .empty {
  flex: 1;
}

.container #controller .controller-btn {
  flex: 1;
  height: 72px;
  background-color: #5c6bc0;
  color: #efefef;
  text-align: center;
  line-height: 72px;
  margin: 0 4px;
}

.container #controller .controller-btn:active {
  background-color: #3c4bc0;
}
